:root {
  /* colors */
  --bg-clr-primary--dark-theme: hsl(222, 47%, 11%);
  --clr-text--dark-theme: hsl(204, 100%, 97%);
  --bg-clr-primary--light-theme: hsl(204, 100%, 97%);
  --clr-text--light-theme: hsl(222, 46%, 11%);

  --bg-cta: hsl(199, 95%, 74%);

  --clr-cta--dark: brightness(0) saturate(100%) invert(7%) sepia(33%)
    saturate(1091%) hue-rotate(182deg) brightness(94%) contrast(97%);

  /* typography*/

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Cinzel Decorative", cursive;

  --fz-default: 15px;
  --fz-intro: 1.8rem;
  --fz-cta: 1.5rem;
  --fz-name: 6rem;
  --fz-accent: 0.9rem;

  /* --fw-normal: 400; */
  --fw-medium: 500;
  --fw-bold: 700;

  /* layout and spacings */

  --mg-25: 0.25em;
  --mg-50: 0.5em;
  --mg-100: 1em;
  --mg-150: 1.5em;
  --mg-200: 2em;
  --mg-250: 2.5em;
  --mg-300: 3em;
  --mg-500: 5em;

  --pad-25: 0.25em;
  --pad-50: 0.5em;
  --pad-100: 1em;
  --pad-125: 1.25em;
  --pad-200: 2em;
  --pad-250: 2.5em;

  --bdrs: 4px;

  --size: 23px;
}

/* utilities */
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fz-default);
  color: var(--clr-text--dark-theme);
  background-color: var(--bg-clr-primary--dark-theme);
}

body::-webkit-scrollbar {
  display: none;
}

/* body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  display: none;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(19%) saturate(5955%)
    hue-rotate(179deg) brightness(105%) contrast(117%);
}

.wrapper {
  width: min(90%, 115rem);
  margin-inline: auto;
}

/* header */

.page-header {
  margin-block: var(--mg-250);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 856px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: min(80%, 10em);
}

.main-nav,
.nav-wrapper,
.social-nav {
  display: flex;
  align-items: center;
  margin-block: var(--mg-50);
}

.main-nav__link,
.social-nav__link {
  color: var(--clr-text--dark-theme);
  font-weight: var(--fw-medium);
}

.current {
  color: var(--bg-cta);
}

.social-nav__link {
  opacity: 0.5;
  transition: 500ms ease;
}

.social-nav__link:is(:hover, :focus) {
  cursor: alias;
  opacity: 1;
}

.theme-toggler {
  width: var(--size);
}

.theme-toggler img {
  max-width: 100%;
  opacity: 0.5;
}

.theme-toggler img:is(:hover, :focus) {
  cursor: pointer;
}

.social-nav__link img {
  max-width: 100%;
  margin-inline: var(--mg-100);
  width: var(--size);
}

@media (min-width: 856px) {
  .social-nav__link img {
    margin-inline-start: var(--mg-150);
  }
}

/* hero */

.hero {
  min-height: 85vh;
}

.hero > .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__text {
  order: 2;
  display: flex;
  font-size: var(--fz-intro);
  flex-direction: column;
  justify-content: flex-start;
}

.hero__title {
  margin-block-start: var(--mg-300);
  font-size: var(--fz-intro);
}

.name {
  opacity: 1;
  display: block;
  margin-block: var(--mg-25);
  font-size: var(--fz-name);
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  background: linear-gradient(to right, hsl(0, 100%, 71%), hsl(240, 100%, 72%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-weight: var(--fw-bold);
}

.hero__description {
  opacity: 0.9;
  line-height: 1.5;
  margin-block-end: var(--mg-200);
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.cta {
  cursor: pointer;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--clr-text--light-theme);
  border-radius: var(--bdrs);
  background-color: var(--bg-cta);
  font-family: var(--ff-primary);
  font-size: var(--fz-cta);
  margin-block: var(--mg-50);
  padding: var(--pad-125) var(--pad-250);
}

@media (min-width: 856px) {
  .btn-container {
    flex-direction: row;
  }

  .cta {
    max-width: 220px;
  }

  .cta--view {
    margin-inline-start: var(--mg-50);
  }
}

.cta img {
  width: 20px;
  display: block;
  margin-inline-end: var(--mg-50);
}

.cta--read img {
  filter: var(--clr-cta--dark);
}

.cta--read:is(:hover, :focus) {
  background: #38bdf8;
}

.cta--view {
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  color: var(--clr-text--dark-theme);
  background-color: transparent;
}

.cta--view:is(:hover, :focus) {
  background-color: hsla(0, 0%, 100%, 0.05);
}

.hero__img {
  order: 1;
  margin-inline: auto;
  margin-block: 0;
  width: 100%;
  height: 400px;
  background: url(../assets/hero-img.png) no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 856px) {
  .hero > .wrapper {
    flex-direction: row;
    text-align: left;
  }

  .hero .wrapper > * {
    flex: 1;
  }

  .hero__text {
    order: 1;
    padding-block: var(--pad-200);
  }

  .hero__img {
    order: 2;
    height: 550px;
    background-position: right;
  }
}

/* footer */

.footer {
  min-height: 10vh;
  text-align: center;
  margin-block: var(--mg-300);
}

.footer .wrapper {
  width: 80%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .footer .wrapper {
    width: min(50%, 40rem);
  }

  .footer .social-nav {
    width: min(40%, 30rem);
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer .social-nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: var(--mg-300) auto;
}

.footer .social-nav__link img {
  margin-inline-start: 0;
}

.main-nav--soon {
  position: relative;
  opacity: 0.5;
}

.main-nav--soon .main-nav__link:is(:hover, :focus) {
  cursor: not-allowed;
}

.accent {
  position: absolute;
  inset-block-start: -0.5em;
  inset-inline-end: -4em;
  font-size: var(--fz-accent);
  padding: var(--pad-25) var(--pad-50);
  border-radius: 100vw;
  text-align: center;
  border: 1px solid var(--clr-text--dark-theme);
}

small {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer__feedback {
    margin-block: var(--mg-50);
    display: block;
  }
}
