:root {
  /* colors */
  --clr-primary--dark-theme: #333;
  --clr-primary--light-theme: #e3e3e3;

  /* typography*/

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Cinzel Decorative", cursive;

  --fz-default: 16px;
  --fz-intro: 18px;
  --fz-name: 60px;
  --fz-accent: 9px;

  /* --fw-normal: 400; */
  --fw-medium: 500;
  --fw-bold: 700;

  /* layout and spacings */

  --mg-50: 0.5em;
  --mg-100: 1em;
  --mg-150: 1.5em;
  --mg-200: 2em;
  --mg-300: 3em;
  --mg-500: 5em;

  --pad-25: 0.25em;
  --pad-50: 0.5em;
  --pad-100: 1em;
  --pad-125: 1.25em;
  --pad-200: 2em;
  --pad-250: 2.5em;

  --bdrs: 4px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fz-default);
}

::selection {
  background-color: rgb(73, 248, 73);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.wrapper {
  width: min(90%, 110rem);
  margin-inline: auto;
}

/* header */

.page-header {
  margin-block: var(--mg-300);
}

nav {
  display: flex;
  justify-content: space-between;
}

header .main-nav__link {
  margin-inline-end: var(--mg-150);
}

.main-nav,
.nav-wrapper,
.social-nav {
  display: flex;
  align-items: center;
}

.main-nav__link,
.social-nav__link {
  font-weight: var(--fw-medium);
}

.social-nav__link {
  opacity: 0.5;
  transition: 500ms ease;
}

.social-nav__link:is(:hover, :focus) {
  cursor: alias;
  opacity: 1;
}

.theme-toggler {
  width: 25px;
}

.theme-toggler img {
  max-width: 100%;
  opacity: 0.5;
}

.theme-toggler img:is(:hover, :focus) {
  cursor: pointer;
}

.social-nav__link img {
  max-width: 100%;
  width: 25px;
  margin-inline-start: var(--mg-150);
}

/* hero */

.hero {
  min-height: 85vh;
}

.hero > .wrapper {
  display: flex;
}

.hero .wrapper > * {
  flex: 1;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--pad-200);
}

.hero__title {
  opacity: 0.8;
  font-size: var(--fz-intro);
}

.name {
  opacity: 1;
  margin-block: 0.25em;
  display: block;
  font-size: var(--fz-name);
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  background: linear-gradient(to right, hsl(0, 100%, 71%), hsl(240, 100%, 72%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-weight: var(--fw-bold);
}

.hero__description {
  opacity: 0.9;
  width: min(90%, 50rem);
  line-height: 1.5;
  margin-block-end: var(--mg-200);
}

.cta {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: var(--bdrs);
  font-family: var(--ff-primary);
  padding: var(--pad-125) var(--pad-250);
}

.cta img {
  width: 25px;
  display: block;
  margin-inline-end: var(--mg-50);
}

.cta--view {
  border: none;
}
.hero__img {
  width: 400px;
  height: 550px;
  background: url(../assets/hero-img.png) no-repeat;
  background-size: contain;
  background-position: right;
}

/* footer */

footer {
  min-height: 10vh;
  margin-block-end: var(--mg-500);
}

footer .wrapper {
  width: min(50%, 40rem);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

footer .social-nav {
  display: flex;
  justify-content: space-between;
  width: min(40%, 30rem);
  margin: var(--mg-300) auto;
}

footer .social-nav__link img {
  margin-inline-start: 0;
}

.main-nav--soon {
  position: relative;
  opacity: 0.5;
}

.main-nav--soon .main-nav__link:is(:hover, :focus) {
  cursor: not-allowed;
}

.accent {
  position: absolute;
  inset-block-start: -0.5em;
  inset-inline-end: -4em;
  font-size: var(--fz-accent);
  padding: var(--pad-25) var(--pad-50);
  border-radius: 100vw;
  text-align: center;
  border: 1px solid #000;
}
